{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Connexion{% endblock %}

{% block body %}
<div class="bandeau-titre">
    <h1 class="title-page">Me connecter</h1>
</div>
<div class="container">
    {% if error %}
    <div class="alert alert-danger mt-4">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <form action="{{ path('security.login') }}" method="post">
        <div class="container-user py-5">
            <div class="col-8 col-md-4 mt-5 mx-auto">
                <label for="username" class="col-form-label">Adresse email</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="username" name="_username"
                        placeholer="exemple@le-quai-antique.fr" value="{{ last_username }}" required>
                </div>
                <label for="password" class="col-form-label ">Mot de passe</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="password" data-role="input-pw" name="_password" placeholder="********" required>
                    <span role="button" class="input-group-text " onclick="togglePassword()">
                        <i id="eye-slash" class="bi bi-eye-slash"></i>
                        <i id="eye" class="bi bi-eye" style="display:none"></i>
                    </span>                    
                </div>
                <div class="mt-3">
                    <p class="d-inline">Pas encore de compte ?</p>
                    <a class="d-inline" href="{{ path('security.registration') }}"> Inscrivez-vous.</a>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">        
            <div class="d-flex my-5 justify-content-center resa-row-btn">
                <a href="{{ path('homepage') }}" role="button" class="qa-btn m-3">Annuler</a>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="qa-btn m-3">Me connecter</button>
            </div>
        </div>
    </form>
</div>

<script src="{{ asset('js/functions.js') }}"></script>

{% endblock %}