{% extends 'base.html.twig' %}

{% block body %}
<div class="cont-accueil">
<img src="../images/fondRestau.png" alt="image restaurant">
    <div class="cont-accueil-logo">
      <img  src="{{ asset('images/LogoRestaurant.svg')}}" alt="Logo Restaurant" />
    </div>
    <div>
    <a type="button"  href="{{ path('reservation1') }}" class="qa-btn booking-btn">Je réserve</a>
    </div>
    <div class="down-arrow bounce"></div>
</div>
<div class="container">
    <div class="banniere-home">
        <div class="cont-carousel">
            <div id="carouselHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                            <div class="img-txt-container">
                                <div class="photo-carousel">
                                    <img class="d-block w-100" src="{{ vich_uploader_asset(imagesCarousel[0], 'imageFile') }}" alt="Mon image">
                                </div>
                                <div class="txt-carousel">
                                    {{ imagesCarousel[0].description }}
                                </div>
                            </div>
                    </div>
                    {% for imageCarousel in imagesCarousel|slice(1, images|length) %}
                    <div class="carousel-item">
                        <div class="img-txt-container">
                            <div class="photo-carousel">
                                <img class="d-block w-100" src="{{ vich_uploader_asset(imageCarousel, 'imageFile') }}" alt="Mon image">
                            </div>
                            <div class="txt-carousel">
                                {{ imageCarousel.description }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselHome" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselHome" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="msg1">
        <div class="photo">
            <img src="{{ vich_uploader_asset(accueil[0], 'imageFile') }}" loading="lazy">
        </div>
        <div class="legend right">{{accueil[0].description}}
        </div>
    </div>
    <div class="banniere-photo">
        <div class="photo">
            <img src="{{ vich_uploader_asset(images[0], 'imageFile') }}" alt="{{images[0].description}}" loading="lazy">
        </div>
        <div class="photo">
            <img src="{{ vich_uploader_asset(images[1], 'imageFile') }}" alt="{images[1].description}}" loading="lazy">
        </div>
        <div class="photo">
            <img src="{{ vich_uploader_asset(images[2], 'imageFile') }}" alt="{images[2].description}}" loading="lazy">
        </div>
        <div class="photo">
            <img src="{{ vich_uploader_asset(images[3], 'imageFile') }}" alt="{images[3].description}}" loading="lazy">
        </div>
    </div>
    <div class="msg2">
        <div class="legend center txt-accueil">
            <p>Dans notre restaurant, une équipe de passionnés de la gastronomie vous attend.</p>

            <p>Animés par le désir de ravir les papilles de nos convives, nous mettons tout en œuvre pour créer des expériences culinaires uniques.</p>
            <p>Mais notre engagement va au-delà :</p>
            <p>nous prenons à cœur de transmettre notre savoir et notre passion en formant de jeunes talents, garantissant ainsi la pérennité de notre art et la promesse de moments gustatifs mémorables pour les générations à venir.</p>
            <p> Venez découvrir l'amour de la cuisine à travers nos plats créatifs et inspirants.</p>
        </div>
    </div>
</div>
{% endblock %}