{% extends 'base_reservation.html.twig' %}
{% block title %}Réservation{% endblock %}

{% block body %}

<body>
    <div class="container">
    {% include "/components/calendar.html.twig" %}
    {% if app.user %}
        <form action="{{ path('reservation2_dispo',{'nb': nbPers, id:app.user.id}) }}" method="POST">
    {% else %}
        <form action="{{ path('reservation2_dispo',{ 'nb': nbPers}) }}" method="POST">
    {% endif %}      
        {{ form_start(form) }}

            <div class="container-resa">
            <div class="row content-center">
            </div>
            <div id="cont-confirm" class="row mb-5 content-center resa-grid">

                    {{ form_row(form.dateReservation)}}

                    <a href="{{ path('homepage') }}" type="button" class="btn btn-secondary">Annuler</a>
                   
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </form>
</div>
    <script src="{{ asset('js/calendar.js') }}"></script>

</body>
{% endblock %}
