{% extends 'base_reservation.html.twig' %}
{% block title %}Réservation{% endblock %}

{% block body %}

<body>
    <div class="container">
    <form id="dataResa" data1={{plagesCompletes}} data2={{hebdo}} data3={{plagesH}}></form>
        <div class="container-resa2">
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 mb-2">
                    {% if nbPers > 1 %}
                    <h2 class="titre-page-resa">Réservation pour {{nbPers}} personnes</h2>
                    {% else %}
                    <h2 class="titre-page-resa">Réservation pour {{nbPers}} personne</h2>
                    {% endif %}

                </div>
            </div>
    {% include "/components/calendar.html.twig" %}
    {% if app.user %}
        <form action="{{ path('reservation2_dispo',{'nb': nbPers, id:app.user.id}) }}" method="POST">
    {% else %}
        <form action="{{ path('reservation2_dispo',{ 'nb': nbPers}) }}" method="POST">
    {% endif %}      
        {{ form_start(form) }}
                <div id="cont-confirm" class="d-flex justify-content-center mb-1 resa-row-btn">
                    {{ form_row(form.dateReservation)}}
                    <a href="javascript:history.back()" type="button" class="btn btn-secondary m-1"> Retour</a>
                    <a href="{{ path('homepage') }}" type="button" class="btn btn-secondary m-1">Annuler</a>
                </div>
            </div>
        {{ form_end(form) }}
        </form>
        </div>
        </form>         
    </div>
    <script src="{{ asset('js/calendar.js') }}"></script>

</body>
{% endblock %}
