{% extends 'base_reservation.html.twig' %}

{% block body %}
{% for message in app.flashes('warning') %}
<div class="alert alert-warning mt-4">
    {{ message }}
</div>
{% endfor %}
<body>
    {% if app.user %}
        <form action="{{ path('reservation1',{id:app.user.id}) }}" method="POST">
    {% else %}
        <form action="{{ path('reservation1') }}" method="POST">
    {% endif %}                        
        {{ form_start(form) }}
        <div class="container">
        <div class="container-resa">
            <div class="row content-center">
                <div class="col-md-6 mb-2">
                    <h2 class="titre-page-resa">Combien serez-vous ?</h2>
                    <p>(à partir de 10 personnes, nous ne prenons les réservations que par téléphone)</p>
                </div>
            </div>
            <div class="row mt-4 mb-5 content-center">
            <div>
                        {{ form_widget(form.nbConvive, {'value': nbConvive}) }}
            </div>
            </div>
            <div class="row mb-5 content-center resa-grid">
                    <a href="{{ path('homepage') }}" type="button" class="btn btn-secondary m-3">Annuler</a>
                    <button type="submit" class="btn btn-primary m-3">Date >></button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</form>
</body>

{% endblock %}