<div class="fixed-footer">
  <div class="fixed-footer-link">
    <a 
      {% if app.user %}
          href="{{ path('reservation1', {id:app.user.id}) }}">
      {% else %}
          href="{{ path('reservation1') }}">
      {% endif %}  
    <i class="bi bi-calendar3"></i>
    <p>Réservation</p></a>
    </div>
  <div class="fixed-footer-link">
    <a 
      {% if app.user %}
        href="{{ path('user.edit', {id:app.user.id}) }}">
      {% else %}
        href="{{ path('security.login') }}">
      {% endif %}  
      <i class="fa fa-user"></i>
      <p> Mon compte</p></a>
    </div>
    <div class="fixed-footer-link">
      <a href="{{ path('app_contact') }}">
      <i class="bi bi-geo-alt"></i>
      <p>Nous trouver</p></a>
    </div>    
</div>
<footer class="footer cont-footer bg-dark ">
    <div class="footer h1 mt-2">
    <a class="navbar-brand" href="{{ path('homepage') }}">
    <img class="logo-navbar" src="{{ asset('images/LogoRestaurant.svg')}}" alt="Logo Restaurant" />
    </a>
    </div>
    <div class="ouvertures mt-2">
      <div class="footer h2">Horaires d'ouverture :</div>
      <div class="hours">
        {{ render(controller('App\\Controller\\FooterController::plageOuverture')) }}
      </div>
    </div>
    <div class="address mt-2">
      <div class="logo-container">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="address-details">
        {{ render(controller('App\\Controller\\FooterController::toutesCoordonnees')) }}
      </div>
    </div>

  </footer>

