<footer>
  <div class=" cont-footer bg-dark ">
    <div class="footer h1 mt-2">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <img class="logo-navbar" src="{{ asset('images/LogoRestaurant.svg')}}" alt="Logo Restaurant" />
      </a>
    </div>
    <div class="ouvertures mt-2">
      <div class="footer h2">Horaires d'ouverture :</div>
      <div class="hours">
        {{ render(controller('App\\Controller\\FooterController::plageOuverture')) }}
      </div>
    </div>
    <div class="address mt-2">
      <div class="logo-container">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="address-details">
        {{ render(controller('App\\Controller\\FooterController::toutesCoordonnees')) }}
      </div>
    </div>
  </div>
  <div class="mention">
    <div>
      <a class="d-inline" href="\html\mentions_legales.html">Mentions légales.</a>
    </div>
    <div>
      Copyright
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
        <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
      </svg> 2023.
    </div>
    <div>Tous droits réservés DcoFco
    </div> 
    </div>
  </div>
  <div class="fixed-footer">
    <div class="fixed-footer-link">
      <a 
        {% if app.user %}
            href="{{ path('reservation1', {id:app.user.id}) }}">
        {% else %}
            href="{{ path('reservation1') }}">
        {% endif %}  
      <i class="bi bi-calendar3"></i>
      <p>Réservation</p></a>
      </div>
    <div class="fixed-footer-link">
      <a 
        {% if app.user %}
          href="{{ path('user.edit', {id:app.user.id}) }}">
        {% else %}
          href="{{ path('security.login') }}">
        {% endif %}  
        <i class="fa fa-user"></i>
        <p> Mon compte</p></a>
      </div>
      <div class="fixed-footer-link">
        <a href="{{ path('app_contact') }}">
        <i class="bi bi-geo-alt"></i>
        <p>Nous trouver</p></a>
      </div>    
  </div>    
</footer>

