{% extends 'base.html.twig' %}

{% block title %}Le quai antique - Modification du mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title-page-profil mt-4">Modification du mot de passe</h1>
    <div class="cont-edit">
    <form method="POST">
        {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        {{ form_label(form.newPassword.first) }}
        {{ form_errors(form.newPassword.first) }}
        <div class="input-group mb-3">
        {{ form_widget(form.newPassword.first) }}
        <span role="button" class="input-group-text " onclick="togglePassword()">
            <i id="eye-slash" class="bi bi-eye-slash"></i>
            <i id="eye" class="bi bi-eye" style="display:none"></i>
        </span>
        </div>
        {{ form_row(form.newPassword.second) }}
        {{ form_rest(form) }}
        <div class="d-flex mb-5 justify-content-center resa-row-btn">
            <a href="{{ path('homepage') }}" role="button" class="btn btn-secondary m-3">Annuler</a>
            <button type="submit" class="btn btn-primary m-3">Enregistrer</button>
        </div>
        {{ form_end(form)}}

        </form>
    </div>
</div>
{% endblock %}