{% extends 'base.html.twig' %}

{% block title %}Le quai antique - Modification informations{% endblock %}

{% block body %}
<div class="bandeau-titre">
    <h1 class="title-page">Modifier mes informations</h1>
</div>
<div class="container">
    <form method="POST">
        <div class="container-user my-2">

            {{ form_start(form) }}
            <div class="col-8 col-md-4 mt-5 mb-3 mx-auto">
                {{ form_label(form.nom) }}
                <div class="txt-error">{{ form_errors(form.nom) }}</div>
                {{ form_widget(form.nom) }}
                {{ form_label(form.prenom) }}
                <div class="txt-error">{{ form_errors(form.prenom) }}</div>
                {{ form_widget(form.prenom) }}

                {{ form_label(form.tel) }}
                <div class="txt-error">{{ form_errors(form.tel) }}</div>
                {{ form_widget(form.tel) }}
                
                {{ form_label(form.nbConvive) }}
                <div class="txt-error">{{ form_errors(form.nbConvive) }}</div>
                {{ form_widget(form.nbConvive) }}

                {{ form_row(form.allergie) }}
            </div>
            <div class="d-flex mb-5 justify-content-center resa-row-btn">
                <a href="{{ path('homepage') }}" role="button" class="qa-btn m-3">Annuler</a>
                <button type="submit" class="qa-btn m-3">Enregistrer</button>
            </div>
            {{ form_end(form)}}
        </div>
    </form>
</div>
{% endblock %}