{% extends 'base.html.twig' %}

{% block title %}Le quai antique - Modification du profil utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title-page-profil mt-4">Modification de profil</h1>
    <div class="cont-edit">
        <form method="POST">
            {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.tel) }}
            {{ form_row(form.nbConvive) }}
            {{ form_row(form.allergie) }}

            <div class="d-flex mb-5 justify-content-center resa-row-btn">
                <a href="{{ path('homepage') }}" role="button" class="qa-btn m-3">Annuler</a>
                <button type="submit" class="qa-btn m-3">Enregistrer</button>
            </div>
            {{ form_end(form)}}
        </form>
    </div>
</div>
{% endblock %}